#navbar{
    margin: 0;
    padding: 1rem 16rem 0 16rem;
    z-index: 3;

        img {
            width: 6rem;
        }
    ul {
        list-style: none;
        float: right;

        li {
            display: inline;
            padding: 4rem 2rem 3.2rem 2rem;
            
            &:hover {
                background: $primary-color;
                color: $secondary-color;
                @include easeOut();
            }
            &:hover a {
                color: $secondary-color;
                @include easeOut();
            }

            a {
                font-size: 2rem;
                text-transform: lowercase;
                letter-spacing: .2rem;
               
                }
            
        }
    }


}
.scroll {
  background-color: $secondary-color;
  box-shadow: $box-shadow;
  @include easeOut();
  a {
      color: set-text-color($secondary-color);
  }
}


