#footer {
    margin: 0;
    height: 13vh;

    p {
        color: $devider-color;
        font-size: 1.5rem;
        text-align: center;
    }

    .footer-container { 
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        border-bottom: 1px solid $devider-color;
        padding: 3rem;
        margin: 0 12rem;


    .footer-icons {
        a {
       padding: .8rem;
       margin: 1rem auto;
&:hover {
                    color: $secondary-color;
                }
    
    }
}
    }
}  

