

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 4.5rem;
    top: 4.5rem;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 2.8rem;
        height: .3rem;
        margin: 0 0 .5rem 0;
        background: $secondary-color;
        @include easeOut;
    }

    //Rotate into X with menu lines

    &.close {
        transform: rotate(180deg);

        .btn-line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translate(.9px, -.8px);
                
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }

}

// Menu Overlay

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    visibility: hidden;

    &.show {
        visibility: visible;
        body {}
    } 
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background-color: $secondary-color;
        background-image: linear-gradient(181deg, $secondary-color -20%, $primary-color 110%);
        transform: translate3d(100%, 0, 0);
        @include easeOut;

        &.show {
            transform: scale3d(1, 1, 1);
        }

        .nav-item {
        transform: translate3d(160rem, 0, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        }

        
     }

    .nav-link {
        padding: 1rem;
        font-size: 5rem;
        display: inline-block;
        color: set-text-color($secondary-color);
        
        font-weight: 300;
        @include easeOut;
        &:hover {
            transform: translateX(2rem);
            @include easeOut;
            background: $primary-color;
            color: $secondary-color;
            &::before {
                
            }
        }
    }

     
    }
    li {
        list-style: none;
    }

    //Delay for each nav item - slide by 0.1s
    @for $x from 1 through 4 {
         .nav-item:nth-child(#{$x}) {
             transition-delay: $x * 0.1s;
         }
     }
    
}

