#about-me {
    margin: 0;
    
    

    .content-wrap {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-gap: 2rem;
        width: 90%;
        margin-bottom: 25rem;
        padding-top: 16rem;
        @include easeOut();
        
        .my-photo {
            img{
            width: 250px;
            height: 250px;
            align-self: center;
            border-radius:300px;
            border: 1px solid $secondary-color;
        }
        }
        
        .my-info {
            padding: 0 2rem 3rem 2rem;
            

            h2 {
                line-height: 1.5;
                margin-top: 0;
                font-size: 6rem;
                text-align: left;
                margin-bottom: 3rem;
                font-style: italic;

                &:after {
                    content: "";
                    height: .1rem;
                    margin: 3rem 0;
                    background-color: $devider-color;
                    width:20%;
                    display: inherit;
                }
            }
            p {
                margin-bottom: 2rem;
                width: 80%;
                text-align: left;
                font-size: 2rem;
                font-family: $paragraph-font;
                &:nth-last-child(1){
                    margin-bottom: 8rem !important;
                }

            }
            .info-btn {
              height: auto;
              
                i {
                    margin-right: 1rem;
                }
                &-1 {
                    display: inline-block;
                    &:hover {
        @include moveDownOnHover();
        @include easeOut();
}
                }
                &-2 {
                    display: inline-block;
                    &:hover {
        @include moveDownOnHover();
        @include easeOut();
}
                }

a {
                margin-right: 5rem;
                @include easeOut();
            }


            }
            
            
        }

        .photo-icons {
            p {
                font-size: 2rem;
                margin: 4rem 0;
            }
            display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
            .icon-group {
        
                img {
                    width: 50px;
                    margin: .5rem .5rem;
                    background: $secondary-color;
                    border-radius: 50%;
                    padding: 8px;
                
                    
                }
            }
        }
    }

}